h4 {
    color: whitesmoke;
    align-items: center;
}

#navba {
    background-color: rgb(68, 66, 66);

}

.box {
    margin: 0;
    padding: 0;
}

#ye {
    color: azure;
    align-items: center;
}

.container-fluid {
    position: sticky;
    background-color: gray;
    padding: 50px;
    overflow: scroll;
}

.row.col-sm-3 {
    border-radius: 20px;

}

#first {
    margin-top: 5px;
    background-color: black;
    border-radius: 10px;
    color: azure;
    padding: 3px;
    padding-left: 20px;
    font-size: 20px;


}

.col-sm-12 {
    margin: 20px 0px;
    height: 30px;
}

#nea {
    border-radius: 20px;
    height: 470px;
}

#na3 {
    background-color: black;
    border-radius: 15px;
    height: 150px;
}

#ae {
    background-color: black;
    border-radius: 15px;
    height: 120px;
    width: 30%;
}